// app global css in SCSS form
.text-color-major {
	color: #242424;
}

.bg-color-major {
	background-color: #242424;
}

.text-color-minor {
	color: #777676;
}

.bg-color-minor {
	background-color: #777676;
}

.rounded-borders-sm {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radix: 8px;
	-o-border-radius: 8px;
}

.rounded-borders-md {
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.rounded-borders-lg {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.rounded-borders-xl {
	border-radius: 32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
}
.flex-gap-xs {
	gap: $flex-gutter-xs;
}
.flex-gap-sm {
	gap: $flex-gutter-sm;
}
.flex-gap-md {
	gap: $flex-gutter-md;
}
.flex-gap-lg {
	gap: $flex-gutter-lg;
}
.flex-gap-xl {
	gap: $flex-gutter-xl;
}
.flex-gap-xxl {
	gap: $flex-gutter-xxl;
}
.flex-gap-xxxl {
	gap: $flex-gutter-xxxl;
}
.flex-gap-xxxxl {
	gap: $flex-gutter-xxxxl;
}

.flex-gap-col-xxxxl {
	column-gap: $flex-gutter-xxxxl;
}
.flex-gap-row-xl {
	row-gap: $flex-gutter-xl;
}
