// app global css in SCSS form
html,
body {
	font-family: Roboto;
}

.form-item-input {
	border: 1px solid $input-stroke;
	border-radius: 8px;
	padding: 0 10px;
}

.form-btn-create {
	border-radius: 8px;
}

.form-btn-cancel {
	border-radius: 8px;
	color: $ink-1 !important;
	border: 1px solid $input-stroke;
}

.capitalize {
	text-transform: Capitalize;
}

.material-symbols-rounded {
	font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 20;
}

.q-dialog__inner--maximized > div,
.q-dialog__inner--minimized > div {
	max-width: none !important;
	max-height: none !important;
	height: auto !important;
	overflow: hidden;
}

.menu-wrap {
	border-radius: 8px;
	box-shadow: none;
	background: $background-2;
	overflow: hidden;
}
