.github
.husky
.vscode
.git
.gitignore
.eslintcache
node_modules

.history
db/
cmd
server/.env
dist/
.quasar
.DS_Store

pkg/
packages/core
packages/mock
packages/web/node_modules
packages/web/public
packages/web/assets
packages/web/boot





