.setting-major-text {
	font-family: Roboto-Regular, Roboto;
	color: $text-color-major;
}

.setting-minor-text {
	font-family: Roboto-Regular, Roboto;
	color: $text-color-minor;
}

.setting-medium-text {
	font-family: Roboto-Regular, Roboto;
	color: $text-color-medium;
}
